.dashboard p{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 30px;    
}

.dashboard h1{
    font-size:60px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.dash-btn{
    margin: 50px;
    width:200px;
    height:45px;
    background-color:transparent;
    border:1px solid white;
    border-radius:10px;
    color:white;
    cursor: pointer;
}

.dash-btn:hover{
    background-color:white ;
    color: black;
}

.dashboard span{
     display: flex;
     justify-content:center;
}